{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
   	{% include 'meta_tags.html' %}
   	{% include 'favicons.html' %}
    <title>Readr | {{ title }}</title>
	{% include 'styles.html' %}
   	{% include 'shivs.html' %}
  </head>

  <body>

        {% include 'navbar.html' %}
        {% block content %}
		{% endblock %}


		{% include 'toread.html' %}
            
      

    </div><!--/.container-->
	{% include 'footer.html' %}
    <!-- Placed at the end of the document so the pages load faster -->
    {% include 'scripts.html' %}
  </body>
</html>
