{% extends 'base.html' %}

{% block content%}

<div class="col-xs-12 col-sm-9">
	<h2 class="row">{{ article.title }}</h2>
	<h4 class="row">{{article.published_on}} | {{article.author}}</h4>
	<div class="row">
		<div class="jumbotron" style="background: url('/media/{{article.img_primary}}')">
			<p class="pull-left visible-xs">
				<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
			</p>
    <h1>{{article.title}}</h1>
		    <p>{{article.summary}}</p>
		</div>
	</div>
	
  
  <article class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8">
      <p>{{article.body}}</p>
    </div><!--/.col-xs-6.col-lg-4-->
    {% if article.img_secondary %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-4" style="background-color: black; height: 200px;">
  		<img src="/media/{{ article.img_secondary }}" style="background-color: black; height: 200px;"/>
    </div>
    {% endif %}
    <!--/.col-xs-6.col-lg-4-->
  </article><!--/row-->
</div><!--/.col-xs-12.col-sm-9-->

{% endblock %}
