{% load staticfiles %}
<!-- Bootstrap core CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link href="{% static 'news_readr/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->

<link rel="stylesheet" href="{% static 'news_readr/css/main.css' %}">
<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,100,100italic,300,300italic' rel='stylesheet' type='text/css'>