{% if toreads %}
<div class="jcarousel-container container-fluid">
          <h4 class="row toreadtitle">WHAT TO READ NEXT</h4>
            <div class=" jcarousel-wrapper">

                <div class="jcarousel">
                    <ul>
                    	{% for toread in toreads %}
                        <li style="background-image: url('{{ media_url }}{{ toread.img_primary }}');">
                            <a href="{% url 'details' toread.id %}">
	                            <div class="carousel-content col-sm-10 col-xs-12">
	                                <h5 class="row">
	                              {{toread.title}}
	                            </h5>
	                                <p class="row">
	                                    {{ toread.summary }}
	                                </p>
	                            </div>
	                          </a>
                        </li>
                        {% endfor %} 
                    </ul>
                </div>
                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                <!-- <p class="jcarousel-pagination">&nbsp;</p> -->
            </div>
        </div>
{% endif %}

       